*{
 font-size: 100%;
 font-family: Helvetica;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  font: 20px;
}

html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
}

nav {
  font-size: 18px;
  background-color: #00386c;
}


nav a {
  color: antiquewhite;
  font-weight: bold;

}

nav a:hover{
   border-bottom: 3px solid  antiquewhite;
   color: antiquewhite;
   font-weight: bold;
   text-decoration: none;


}

hr{
  border: 1px solid #93cbff;

}
